extends template.jade

block header
    nav.teal.lighten-2
        .nav-wrapper
            a(href="#" class="brand-logo") Stockin' Up
            ul#nav-mobile.right.hide-on-med-and-down(ng-controller='navCtrl')
                li 
                    a(ui-sref="portfolio") Portfolio
                li 
                    a(ui-sref='getQuotes') Quotes
                li
                    form(action='/logout?_method=delete' method='POST')
                        input(type='submit' value='Logout')
                    //- button(ng-click='logout()') Logout

block content
                  
    div(ui-view)


block scripts
    script(src='lib/angular/angular.min.js')
    script(src='lib/angular-ui-router/release/angular-ui-router.min.js')
    script(src='www/app.js')
    //- Controllers
    script(src='www/controllers/getQuotesCtrl.js')
    script(src='www/controllers/portfolioCtrl.js')
    
