doctype html
html(lang='en')
	head
		block title
			title= title
			link(rel='stylesheet' href='lib/Materialize/dist/css/materialize.min.css')
			link(rel='stylesheet' href='stylesheets/style.css')
	body(ng-app="stock-portfolio")
		block header 
			nav.teal.lighten-2
				.nav-wrapper
					a(href="#" class="brand-logo") Stockin' Up
	
		block content
		
			

		block scripts
