div(ng-controller="getQuotesCtrl")
    .row.center
        .input-field.col.s4
            input(placeholder="Symbol" id="symbol" type="text" class="validate" ng-model="symbol")
        .input-field.col.s2
            button(class="validate btn" ng-click="getStock(symbol)") Get quote
    .row.center
        div(ng-show="noQuote")
            p {{noQuoteMessage}}
        div#outputQuotes(ng-show="quoteExists")
            table.striped
                thead
                    tr
                        th Stock
                        th Symbol
                        th Last Price
                        th Traded at

                tbody
                        td {{quoteData.data.Name}}
                        td {{quoteData.data.Symbol}}
                        td ${{quoteData.data.LastPrice}}
                        td {{quoteData.data.Timestamp}}
                        td 
                            button.btn(ng-click="buyStock()") Buy
