
<div class="row center" ng-controller='portfolioCtrl'>
  <table class="striped">
    <thead>
      <tr>
        <th data-field="id">Name</th>
        <th data-field="name">Symbol</th>
        <th data-field="price">Stock Value</th>
        <th data-field="price">Quantity</th>
        <th data-field="price">Total Value</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="stock in stocks">
          <td>{{stock.name}}</td>
          <td>{{stock.symbol}}</td>
          <td>${{stock.lastPrice}}</td>
          <td>{{stock.quantity}}</td>
          <td>${{stock.totalValue}}</td>
          <td>
            <button ng-click="sellStock()" class="btn">Sell</button>
          </td>
      </tr>
    </tbody>
  </table>
</div>
