<!-- <div class='row center' ng-controller='registerCtrl'>
    <h2>Register for Stockin' Up</h2>
    <form action='/register' method='POST'>
        <div class='input-group'>
            <input type='email' name='email' placeholder='Email'>
        </div>
        <div class='input-group'>
            <input type='password' name='password' placeholder='Password'>
        </div>
        <div class='input-group'>
            <input type='password' name='passwordVerify' placeholder='Confirm password'>
        </div>
        <div class='input-group'>
            <input type='submit' value='Register'>
        </div>
    </form>
</div> -->
